

.treeView-section .h3 {
        margin: 18px 10px 18px 0;
        font-size: 20px;
}
.treeView-section .margin {
        margin: 5px;
}
.treeView-section .section {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgoldenrodyellow;
        padding-bottom: 20px;
}
.menu-section {
    margin: auto;
    display: flex;
    outline: 0;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    justify-content: center;
    background-color: #f5f5f5;
}
.menu {
    position: absolute;
}
.text {
    padding: 20px 20px 0;
}
.paper {
    padding-bottom: 50px;
}
.list {
    margin-bottom: 20px;
}
.list-section {
    width: 1200px;
    height: 410px;
}
.root {

}
.table {
    width: 1200px;
    height: 410px;
}